<p>
  <b>Name:</b>
  <%= @attendance.student_name %>
</p>
<p>
  <b>Roll:</b>
  <%= @attendance.student_roll%>
</p>
<p>
  <b>Attendance Status:</b>
  <%= @attendance.present%>
</p>

<%= link_to 'Go Back', attendances_path %>
