<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header class="main_header">
    <h1><a href="../index.html">School Management System</a></h1>
  </header>
  <section class="main_section">
  <%= yield %>
  </section>
  <footer class="main_footer">
  </footer>
</body>
</html>
