<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header id="main_header">
    <h1> School Management System </h1>
  </header>
  <section id="main_section">
  <%= yield %>
  </section>
  <footer id="main_footer">
  </footer>
</body>
</html>
